
@{
    ViewBag.Title = "Index";
}

<div class="center-block">

    <h2 class="text-center jumbotron">Welcome to the Registration portal</h2>

    <button class="center-block">
        @Html.ActionLink("Start registration", "Create", "EmployeeDetails")
    </button>

</div>
